<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>User Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <!-- <ion-col size="4"> -->
        <ion-card>
          <ion-card-header>
            <ion-card-title>Add User</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-input type="text" placeholder="User Name" [(ngModel)]="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Mobile" [(ngModel)]="mobile"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Mail" [(ngModel)]="mail"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Password" [(ngModel)]="password"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Date of Birth*</ion-label>
              <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="dob"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Gender" [(ngModel)]="gender"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Address" [(ngModel)]="address"></ion-input>
            </ion-item>
          </ion-card-content>
          <ion-card-header>
            <ion-button (click)="submitValues()">Submit</ion-button>
            <ion-button (click)="UpdateValues()">Update Value</ion-button>
          </ion-card-header>
        </ion-card>
      <!-- </ion-col> -->
      <!-- <ion-col size="7" offset="1"> -->
        <table>
          <thead>
            <tr>
              <th>User Name</th>
              <th>Mobile</th>
              <th>Email</th>
              <th>DOB(YMD)</th>
              <!-- <th>Gender</th> -->
              <!-- <th>Address</th> -->
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of all_user">
              <td>{{item.name}}</td>
              <td>{{item.mobile}}</td>
              <td>{{item.mail}}</td>
              <td>{{item.dob}}</td>
              <!-- <td>{{item.gender}}</td> -->
              <!-- <td>{{item.address}}</td> -->
              <td><ion-button size="small" color="danger" (click)="deleteLevel(item.id)"><ion-icon name="trash-bin-sharp"></ion-icon></ion-button> <ion-button size="small" (click)="edit(item.name,item.mobile,item.mail,item.id,item.dob,item.gender,item.address)"><ion-icon name="pencil-sharp"></ion-icon></ion-button></td>
            </tr>
          </tbody>
        </table>
      <!-- </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>
